.layingTopoDesign {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    position: relative;
    > div:nth-child(1) {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: column;
        border: 1px solid #e0e0e0;
        background: #ffffff;
        resize: vertical;
        > h3 {
            width: 100%;
            height: 40px;
            font-weight: 700;
            font-size: 15px;
            color: #333333;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            padding-left: 20px;
            margin: 0;
            border-bottom: 1px solid #e0e0e0;
            background: #f4f6f9;
            border-left: 5px solid $theme-color;
            > span {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
        > div {
            width: 100%;
            background: #fff;
            overflow: auto;
        }
        &:nth-child(1) {
            flex-grow: 1;
            min-height: 300px;
            > div {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                > div {
                    &:nth-child(1) {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-flow: column;
                        > div {
                            &:nth-child(1) {
                                width: 100%;
                                height: calc(100% - 30px);
                            }
                            &:nth-child(2) {
                                width: 100%;
                                height: 46px;
                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                border-top: 1px solid #e0e0e0;
                                > button {
                                    margin-right: 5px;
                                    height: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.infoBox {
    width: 300px;
    height: 180px;
    position: absolute;
    top: 51px;
    right: 11px;
    background: #ffffff;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    z-index: 1000;
    > div:nth-child(1) {
        height: 30px;
        width: 100%;
        border-bottom: 1px solid #4477ee;
        color: #4477ee;
        padding: 0 10px;
        line-height: 30px;
    }
    > div:nth-child(2) {
        height: auto;
        width: 100%;
        padding: 0 10px;
        line-height: 30px;
        > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > input {
                margin-right: 5px;
            }
        }
    }
    > div:nth-child(3) {
        color: #4477ee;
        padding: 0 10px;
    }
    > div:nth-child(4) {
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 10px;
    }
}
