.count-rule-setting-box{
	white-space: nowrap;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 10px;
	/deep/ .count-rule-compent-box{
		.el-dropdown-link{
			&:hover{
				color:rgb(45, 123, 249) !important;
			}
		}
		.count-rule-item{
			padding:10px 5px;
			
			.choose-function{
				.el-dropdown-link,.brackets-after{
				color: rgb(177, 182, 29);
				}
			}
			.chooseVar {

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}

				input[type="number"] {
					-moz-appearance: textfield;
				}

				.el-dropdown-link {
					color: darkcyan;
				}
			}

			.choose-operator {
				.el-dropdown-link {
					color: rgb(241, 91, 91);
				}

				margin-left: 5px;
			}
		}
	}
	
}
