<div id="chooseUserIMCatalog" class="ui-dialog dialog">
  <div class="modal-header">
    <h4 class="modal-title">{{CHOOSEUSER_TITLE_DEF}}</h4>
  </div>
  <div class="panel-body">

    <div>
      <div class="form-horizontal clearfix" id="formChooseUser"
        style="margin-top: 10px; margin-right: 10px; margin-bottom: 0px">
        <div class="col-md-12">
          <div class="form-group">
            <div class="col-md-3">
              <div type="text" name="userName" id="userName" class="input-group search-group" autocomplete="off"
                data-toggle="searchbar" style="width: 280px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="chooseUserGrid" class="grid"></div>
  </div>
  <div class="modal-footer">
    <button id="chooseUserOk" class="btn btn_minwidth btn-primary" type="button" title="{{OPB_OK}}">
      {{OPB_OK}}
    </button>
    <button id="chooseUserCancel" class="btn btn_minwidth btn-default" type="button" title="{{OPB_CANCEL}}">
      {{OPB_CANCEL}}
    </button>
  </div>
</div>