<div class="search-bar">
	<div class="btn-group">
		<button type="button" class="btn btn-default" id="btnAddAttrEdnRes"
			title="{{OPB_NEW}}">
			<i class="fa fa-plus"></i> {{OPB_NEW}}
		</button>
		<button type="button" class="btn btn-default" id="btnModAttrEdnRes"
			title="{{OPB_EDIT}}">
			<i class="fa fa-pencil"></i> {{OPB_EDIT}}
		</button>
		<button type="button" class="btn btn-default" id="btnDelAttrEdnRes"
			title="{{OPB_DELETE}}">
			<i class="fa fa-trash"></i> {{OPB_DELETE}}
		</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-default" id="btnUpAttrListEdn" title="{{BTN_UP}}">
			<i class="fa fa-arrow-up"></i>
		</button>
		<button class="btn btn-default" id="btnDownAttrListEdn"
			title="{{BTN_DOWN}}">
			<i class="fa fa-arrow-down"></i>
		</button>
	</div>
</div>

<div class="cs-block">
	<div>
		<div class="grid" id="gridFeatureAttrEdn"></div>
	</div>
</div>