<div class="row">
	<div class="col-md-2">
		<div class="cs-block">
			<div class="title no-padding">
				<h3>{{EDN_FEATURE_RESOURCES_TREE}}</h3>
			</div>

			<ul id="treeFeatureAttrEdn" class="ztree"></ul>
		</div>
	</div>
	<div class="col-md-10">
		<div class="container_right">
			<div class="tabs" id="tabFeatureEdn">
				<ul class="tabs__navbar" id="ul_dev_maint">
					<li><a href="#tabFeatureAttrEdn">{{EDN_FEATURE_ATTR_LIST}}</a></li>
					<li class="btn-group pull-right btn-group-title tool-bar">
						<button type="button" class="btn btn-default" id="btnRefreshObjEDNRes" title="Refresh Cache">
							<i class="fa fa-refresh">{{EDN_FEATURE_ATTR_REFRESH}}</i>
						</button>
					</li>
				</ul>
				<div id="tabFeatureAttrEdn"
					data-url="oss_core/edesign/featureAttrMgr/views/featureAttr"></div>
			</div>
		</div>
	</div>
</div>




