.row {
    height: 100%;
    .res-tree-search {
        width: 340px;
        margin: 10px;
    }
    .tree {
        height: calc(100% - 86px);
        padding-left: 6px;
    }
    .centerBtn {
        float: right;
        position: sticky;
        bottom: 5px;
        right: 10px;
        margin-top: 10px;
    }
}
