<!--
 * @Author: your name
 * @Date: 2021-03-03 19:45:07
 * @LastEditTime: 2022-11-02 17:52:54
 * @LastEditors: 夏嫱 xia.qiang3@iwhalecloud.com
 * @Description: In User Settings Edit
 * @FilePath: \online-design-v9\code\design-web\src\portal_menu\edesign\designerHome\templates\designerHome.html
-->
<div class="edesign-v9-designer-home">
    <div class="readme-list">
        <div class="js-open">
            <div class="readme_img">
                <img src="oss_core/edesign/assets/image/home/Design-Preparation.png">
            </div>
            <h1>{{DESIGN_PREPARATION}}</h1>
            <h3>{{BEFORE_DESIGN_START}}</h3>
            <ol>
                <li>{{INTEGRATION_WITH_ESURVEY}}</li>
            </ol>
        </div>
        <div class="js-open">
            <div class="readme_img">
                <img src="oss_core/edesign/assets/image/home/High-Level-Design.png">
            </div>
            <h1>{{HIGH_LEVEL_DESIGN}}</h1>
            <h3>{{DESIGN_DEVICE_AND_CABLE_ROUTE}}</h3>
            <ol>
                <li>{{SITE_POSITION}}</li>
                <li>{{MATCH_ADDRESS_COVERAGE_NEEDS}}</li>
                <li>{{CONSIDER_THE_SUPPORT_FACILITIES}}</li>
            </ol>
        </div>
        <div class="js-open">
            <div class="readme_img">
                <img src="oss_core/edesign/assets/image/home/Low-Level-Design.png">
            </div>
            <h1>{{LOW_LEVEL_DESIGN}}</h1>
            <h3>{{NETWORK_SIDE_TO_USER_SIDE}}</h3>
            <ol>
                <li>{{FOR_L1_SPLITTER}}</li>
                <li>{{CHECK_THE_OPTICAL_BUDGET}}</li>
                <li>{{BUILDING_INTERNAL_DESIGN}}</li>
            </ol>
        </div>
        <div class="js-open">
            <div class="readme_img">
                <img src="oss_core/edesign/assets/image/home/Design-Export.png">
            </div>
            <h1>{{DESIGN_EXPORT}}</h1>
            <h3>{{SHARE_DESIGN_RESULTS}}</h3>
            <ol>
                <li>{{BOM_FOR_DESIGN}}</li>
                <li>{{KML_FOR_SHARE_HLD}}</li>
                <li>{{CAD_FOR_CONSTRUCTIONS}}</li>
            </ol>
        </div>
    </div>
</div>
