.res-type-panel-default {
    width: 394px;
    background-color: #ffffff;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);
    position: absolute;
    top: 50px;
    left: 0px;
    color: #333333;
    > div {
        max-height: calc(100vh - 200px);
        overflow: auto;
    }
}

.res-type-panel-default:before {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: -10px;
    left: 24px;
    display: block;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.res-type-panel-default .res-type-group {
    padding: 6px;
}

.res-type-panel-default .res-type-group:not(:last-child) {
    border-bottom: 1px dashed #eee;
}

.res-type-panel-default .res-type-group-header {
    font-size: 12px;
    color: #5c5b5b;
    margin-top: 5px;
    font-weight: 700;
}
.res-type-group-body{
    display: flex;
    flex-wrap: wrap;
    > div{
        width: 33%;
        &:hover {
            background-color: $theme-color;
            color: #ffffff;
            border-radius: 3px;
        }
    }
}
.res-type-panel-default .res-type-panel-item {
    margin: 2px 2px;
    padding: 3px;
    font-size: 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.res-type-panel-default div.active {
    background-color: $theme-color;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
}