.panel-body {
  flex-flow: column;
  .select-v {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    > .select-list-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      > div {
        width: 400px;
        height: 440px;
        display: flex;
        flex-flow: column;
        margin: 5px 10px;
        flex-grow: 1;
        &.flex-empty-div {
          height: 0;
        }
        > .map-ver {
          width: 400px;
          height: 400px;
        }
        > .el-radio {
          width: 400px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        >.version-cost{
          display: flex;
          justify-content: center;
          >.cost-desc{
            width: 50%;
            height: 30px;
            text-align: center;
            border:1px solid #dfc9c9;
            line-height: 30px;
          }
        }
      }
    }
  }
}
.sel-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
