div.map-query {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 3;
    width: auto;

    > .map-icon-content {
        width: auto;

        > .form-group {
            margin-bottom: 0;
        }

        > .input-wrap {
            /deep/ input {
                width: 0px;
                height: 34px;
                padding: 0;
                background: none;
                font-size: 12px;
                color: #ffffff;
                text-align: left;
                border: none;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                transition: $transition;
            }
        }

        > .map-icon {
            width: 34px;
            height: 34px;
            flex-shrink: 0;
        }
    }

    > .choosed {
        > .input-wrap {
            color: #FFF;

            /deep/ input {
                width: 360px;
                padding: 0 5px;
            }

            > .search-close-icon {
                height: 34px;
                z-index: 999;
                font-size: 14px;
                cursor: pointer;
                pointer-events: auto;
                position: absolute;
                margin-right: 24px;
                width: 24px;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #9D9C9C;
            }

            > .switch-locate-btn {
                height: 34px;
                z-index: 999;
                font-size: 14px;
                cursor: pointer;
                pointer-events: auto;
                position: absolute;
                width: 24px;
                top: 0;
                margin-right: 2px;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #9D9C9C;
                border-radius: 2px;
            }

            > .switch-locate-btn-active {
                height: 34px;
                z-index: 999;
                font-size: 14px;
                cursor: pointer;
                margin-right: 2px;
                pointer-events: auto;
                position: absolute;
                width: 24px;
                top: 0;
                border-radius: 2px;
                right: 0;
                display: flex;
                background-color: $theme-color;
                justify-content: center;
                align-items: center;
                color: #ffffff;
            }
        }


        > .map-icon {
            background: $theme-color;
            font-size: 18px;
        }
    }
}


.popcontent {
    width: 260px;
    height: 500px;
    overflow: auto;

    > .new-resource-container {
        border-bottom: 1px dashed #e3e3e3;

        > p {
            width: 20%;
            float: left;
            padding: 10px 0;
            line-height: 20px;
            text-align: left;
            font-size: 13px;
            color: gray;
            margin: 0;
        }

        > div {
            width: 80%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            padding: 5px;
            color: #0074D9;

            > div {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #ffffff;
                margin: 5px;
            }
        }
    }
}

/* .new-resource-container{
		width: 280px;
	} */

.combox {
    width: 35%;
    float: left;
}

.blue-bg {
    background: #298EE6;
    color: #FFF;
}

.restype {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #FFF;
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
    z-index: 9999;
}

.restype p {
    text-align: center;
    cursor: pointer;
}

.restype p:hover {
    text-align: center;
    cursor: pointer;
    background-color: #0074D9;
    color: #FFF;
}

.choose {
    text-align: center;
    cursor: pointer;
    background-color: #0074D9;
    color: #FFF;
}
