.config-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  .right-content {
    display: flex;
   .el-select .el-input {
      width: 130px;
    }
    .input-with-select .el-button {
      background-color: #47e;
      color: #fff;
    }
  }
}
.bottom-grid{
  height: calc(100% - 180px);
  border: 1px solid #eee;
  border-style: solid solid none solid;
    .material-option-icon{
      color:#4477ee;
      font-size: 15px;
      font-weight: bold;
      margin-left: 5px;
      cursor: pointer;
      &.delete{
        color:rgb(254, 68, 68);
      }
    }
}
.material-grid{
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-flow: column;
}
.page-footer {
  position: absolute;
  right: 0;
  padding-top: 10px;
}
