<div class="edesign-v9-home">
    <div class="readme-list">
        <div>
            <div class="readme_img">
                <img src="oss_core/edesign/assets/image/home/Create-Sprint.png">
            </div>
            <h1>{{PROJECT_START}}</h1>
            <h3>{{GET_PROJECT_START}}</h3>
            <ol>
                <li>{{OPEN}} <span class="js-open">{{DESIGN_TASK_MANAGEMENT}}</span></li>
                <li>{{CHECK_PROJECT_LIST}}</li>
                <li>{{CHECK_PROJECT_INFO}}</li>
            </ol>
        </div>
        <div>
            <div class="readme_img">
                <img src="oss_core/edesign/assets/image/home/Parameter-Setting.png">
            </div>
            <h1>{{PARAM_SETTING}}</h1>
            <h3>{{HELP_DESIGN_STANDARDS}}</h3>
            <ol>
                <li>{{GLOBAL_OPTICAL_BUGET_PARAM}} <span class="js-open-guan">{{HERE}}</span>. </li>
                <li>{{SPRINT_SPECIFIC_PARAM}}</li>
            </ol>
            <ol class="two-ol">
                <li>{{A_OPEN}} <span class="js-open">{{DESIGN_TASK_MANAGEMENT}}</span> {{CLICK_PROJECT_INFO}} </li>
                <li>{{CLICK_PARAM_SETTING}} </li>
            </ol>
        </div>
        <div>
            <div class="readme_img">
                <img src="oss_core/edesign/assets/image/home/Split-Design-Task.png">
            </div>
            <h1>{{SPLIT_DESIGN_TASK}}</h1>
            <h3>{{SPLIT_INTO_TASK}}</h3>
            <ol>
                <li>{{OPEN}} <span class="js-open">{{DESIGN_TASK_MANAGEMENT}}</span> {{CLICK_PROJECT_DATA}}</li>
                <li>{{TASK_CREATION}}</li>
                <li>{{NEW_RESOURCE}}</li>
                <li>{{TASK_MANAGEMENT}}</li>
            </ol>
        </div>
        <div>
            <div class="readme_img">
                <img src="oss_core/edesign/assets/image/home/Task-Approval.png">
            </div>
            <h1>{{TASK_APPROVAL}}</h1>
            <h3>{{VALIDATE_DESIGN_TASK}}</h3>
            <ol>
                <li>{{OPEN}} <span class="js-open">{{DESIGN_TASK_MANAGEMENT}}</span> {{SWITCH_TASK_CREATION}}</li>
                <li>{{ALL_TASKS_CREATED}}</li>
                <li>{{CLICK_THE_TASK_HAVE_COMPLETE}}</li>
                <li>{{REJECT_OR_CONFIRM}}</li>
            </ol>
        </div>
        <!-- <div class="flex-empty-div"></div>
        <div class="flex-empty-div"></div>
        <div class="flex-empty-div"></div> -->
    </div>
    <div class="chart-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ON_TIME_COMPLETE}}</h3>
            </div>
            <div class="panel-body">
                <div class="js-chart1 chart-content"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{TASK_NUMBER}}</h3>
            </div>
            <div class="panel-body">
                <div class="js-chart2 chart-content"></div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ON_GOING_TASK_STATES}}</h3>
            </div>
            <div class="panel-body">
                <div class="js-chart3 chart-content"></div>
            </div>
        </div>
    </div>
</div>