.new-resource-container{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 10px 15px 15px;
    background: #FFFFFF;
    border-radius: 12px;
    .resource-item-title{
        width: 100%;
        height: 20px;
        line-height: 20px;
        text-align: left;
        font-size: 14px;
        color: #1A1F36;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .itemlist-itembox{
        width:60px;
        display: inline-block;
        margin-left: 10px;
        text-align: center;
        margin-top: 10px;
        cursor: pointer;
        &.active{
            .item-iconbox{
                border-color: $theme-color;
            }
            .item-titlebox,.item-dog{
                color:$theme-color;
            }
        }
        .item-iconbox{
            display: inline-block;
            width: 40px;
            height: 40px;
            padding:5px;
            border-radius: 5px;
            border: 1px solid #979797;
            position: relative;
            vertical-align: middle;
            img{
                line-height: 40px;
            }
            
        }
        .item-titlebox,.item-dog{
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #333333;
            margin-top: 8px;
        }
        
    }
    .new-resource-itemlist{
        // padding:10px 5px 10px 10px;
        width:100%;
        .itemChildList{
            background: #F2F2F7;
            padding:10px 5px 10px 10px;
            margin-top: 15px;
            border-radius: 5px;
            .resource-item-title{
                font-size: 12px;
            }
            .resourcl-hld-list-box{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    img{
        width: 100%;
    }
}

// .new-resource-container>div>div.active{
//     border: 2px solid $theme-color;
// }
