.add-material-body{
    width: 100%;
    height: 600px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    .material-single-line{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .left-content{
            display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        }
        .right-content{
            display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        }
        .material-title{
            width: 155px;
            padding-right: 15px;
        }
    }
    .material-single-line-bottom{
        display: flex;
        align-items: center;
        width: 100%;
        .row-content{
            width: 100%;
            display: flex;
        align-items: center;
        /deep/ .el-form-item__content{
            height: 60px;
            flex: 1;
            .calc-content{
                border: 1px solid #eee;
            }
            
        }
        }
        .grid-content{
            width: 100%;
            display: flex;
            align-items: flex-start;
            /deep/ .el-form-item__content{
                flex: 1;
            }
            .quota-table{
                border: 1px solid #eee;
            }
        }
    }
}